
.chat-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 80vh;
    width: 100%;
    overflow-y: auto;

    background: #171827;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.chat-container input::placeholder{
    font-style: italic;
    color: #62676F;
}

.chat-input{
    margin-top: 15px;
    align-self: center;
    background: #25263C;
    width: 90%;
    min-height: 35px;
    overflow: hidden;
    border-radius: 25px;
    padding: 0 15px 0 15px;
    color: #D4DCE8;
    border: 0;
    margin-bottom: 15px;
    display: inline-block;
    align-items: center;
    box-sizing: border-box;
}

.message{
    padding: 8px 15px 5px 15px;
    color: #D4DCE8;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}

.message-user{
    font-weight: 500;
    color: #9FA9FF;
    margin-right: 5px;
}
.message-text{
    margin-top: 1px;
    word-break: break-all;
    display: block;
    color: rgb(231, 231, 231); 
}

@import "./room.scss";

@media (min-width: 360px) and (max-width: $bp-phone-width){
    .chat-container{
        height: 30vh;
    }
}