$loginBackground-color: #1E1F35;
$logo-color: #F40049;

$inputBackground-color: #171827;
$addVideoButton-color: #FF9F9F;

$defaultFont-color: #D4DCE8;

$modalBackground-color: #292A3E;


// Form variables
$color-form-input-background: #101127;
$color-form-input-text: #62676F;
$color-form-iput-placeholder: rgb(73, 76, 82);