.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 20px 0 20px;
}

.header-container .company {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.125rem;
}

.header-container .company img{
    height: 35px;
}

.header-container .company *{
    margin: 0 5px 0 5px
}
 
.header-container button {
    z-index: 300;
    display:block;
    height: 35px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
    background-color: Transparent;
    transition: 0.2s;
    align-items: center;
}

button:focus {
    outline:0;
}

.header-container button:hover {
    background-color: rgb(59, 60, 90);
    border-radius: 50%;
}

.header-container button svg {
    height: 1.2rem;
    width: 1.2rem;
    fill: #D4DCE8;
    margin: auto;
}

.sidebarr{
    display: none;
    opacity: 0;
}

.sideBar-enter {
    opacity: 0;
    display: inline;
}

.sideBar-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.sideBar-enter-done {
    opacity: 1;
    display: inline;
}

.sideBar-exit {
    opacity: 1;
    display: inline;
}

.sideBar-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

.sideBar-exit-done{
    display: none;
    opacity: 0;
}