.page-container{
    background-color: #1E1F35;
    overflow: hidden;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.header{
    height: 3rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.header button{
    z-index: 300;
    display:block;
    height: 35px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
    background-color: Transparent;
    transition: 0.2s;
    align-items: center;
}

.header button:hover {
    background-color: rgb(59, 60, 90);
    border-radius: 50%;
}

.header button svg {
    height: 1.2rem;
    width: 1.2rem;
    fill: #D4DCE8;
    margin: auto;
}

.login-body{
    display: flex;
    height: calc( 100% - 30vh );
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.companyLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.companyLogin img {
    width: 4.5rem;
    margin-bottom: 1rem;
}

.companyLogin svg {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.companyLogin span{
    font-size: 2rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}


.form-container input::placeholder{
    font-style: italic;
    color: #62676F;
}

.form-input{
    align-self: center;
    background: #171827;
    width: 18rem;
    min-height: 45px;
    overflow: hidden;
    border-radius: 5px;
    padding: 0 1rem 0 20px;
    color: rgb(155, 157, 161);
    border: 0;
    margin-bottom: 15px;
    display: inline-block;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid #2C2D49;
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttonContainer button{
    width: 10rem;
    background: #9FA9FF;
    color: #0E0F20;
    margin: 0.5rem 0 0.5rem 0;
}

.login-button:hover{
    background: rgb(121, 128, 194);
    transition: 0.2s ease;
}

.login-button{
    height: 35px;
    line-height: 35px;
    background: #1E1F35;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.forgotPassword{
    width: 100%;
    color: #6C72AD;
    text-align: right;
    margin-top: 0px;
    text-align: right;
}

.forgotPassword:hover {
    color: #9FA9FF;
    cursor: pointer;
}

.ellipse{
    position: relative;
    bottom: -8vh;
    width: 110vw;
    left: -5vw;
    height: 50vh;
    border-radius: 50%;
    background: linear-gradient(180deg, 
        rgba(218, 0, 118, 0.9) 0.22%, 
        rgba(14, 15, 32, 0) 35.61%);
}