@import "./Colors.scss";
$backgroundDarker: rgb(35, 36, 53);

.room-modal-background{
    background-color: $modalBackground-color;
    border-color: $modalBackground-color;
}

.room-modal-header{
    background-color: $backgroundDarker;
    border-color: $backgroundDarker;
    
}