@import 'Colors.scss';

$header-height: 50px;
$distance: 4vw;
$border-radius: 5px;
$shadow-box-default: 0px 0px 4px rgba(0, 0, 0, 0.25);
$item-number: 4;

.room-list-container {
    height: calc(100vh - #{$header-height});
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: $distance;
}

.table-container {
    background: #1E1F35;
    height: 90%;
    width: 100%;
    padding: $distance/2 $distance $distance/2 $distance;
    border-radius: $border-radius;
    margin-left: $distance;
    box-shadow: $shadow-box-default;
}

.button-container {
    height: 80%;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.menu-button {
    background: #1E1F35;
    width: 100%;
    height: 50px;
    color: #9FA9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    text-align: center;
    box-shadow: $shadow-box-default;
    &:hover{
        background: #171827;
        transition: 0.2s ease;
        cursor: pointer;
    }
}

.table-item {
    width: 100%/$item-number;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button svg {
    margin-right: 5px;
}

.firefy-filter-card {
    border-radius: $border-radius;
    background: #1E1F35;
    width: 100%;
    height: 45%;
    padding: $distance / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: $shadow-box-default;
}

.firefy-card-name {
    font-size: 1rem;
    color: #9FA9FF;
    text-align: center;
}

.button-container input {
    color: #D4DCE8;
    appearance: none;
    background: #171827;
    border: 1px solid #2C2D49;
    box-sizing: border-box;
}

.button-container #search {
    box-sizing: border-box;
    border-radius: 10px;
    width:100%;
    min-height: 2.5rem;
    padding: 0 10px 0 10px;
    &::placeholder{
        font-style: italic;
        color: #62676F;
    }
}

label {
    margin-bottom: 0;
}

// .checkbox-container {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     align-items: center;
//     color: #D4DCE8;
// }

.firefy-checkbox-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.firefy-checkbox-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.firefy-checkbox-container .firefy-checkbox-wrapper input[type="checkbox"] {
    display: none;
}

.firefy-checkbox-container .firefy-checkbox-wrapper input[type="checkbox"] + label {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2C2D49;
    background: #171827;
    width: 1.5rem;
    height: 1.5rem;
}

.firefy-checkbox-container .firefy-checkbox-wrapper input[type="checkbox"]:checked + label:after {
    font-family: 'Arial', sans-serif;
    content: "\2713";
    font-size: 1.2em;
}
