@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #0E0F20;
    color: #D4DCE8;
}

button {
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: #D4DCE8;
}


button:focus {
    outline:0;
}